--extra-index-url https://download.pytorch.org/whl/cu113
matplotlib==3.5.1
pycuda==2021.1
timm==0.5.4
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
graphsurgeon @ file:///opt/cuda/setup/tensorrt/graphsurgeon-0.4.5-py2.py3-none-any.whl
onnx_graphsurgeon @ file:///opt/cuda/setup/tensorrt/onnx_graphsurgeon-0.3.10-py2.py3-none-any.whl
tensorrt @ file:///opt/cuda/setup/tensorrt/tensorrt-8.0.3.4-cp38-none-linux_x86_64.whl
uff @ file:///opt/cuda/setup/tensorrt/uff-0.6.9-py2.py3-none-any.whl

